@charset "utf-8";
@import "../../fragment/header";

/**
 * header扩展
 */

@include g_hd(
    $name: normal,
    $border-color: #ddd,
    $bgcolor: #eee,
    $color: map-get($base, color),
    $item-color: map-get($base, color),
    $item-ico-color: map-get($base, color)
);