@charset "utf-8";
@import "../../fragment/tab";

/**
 * tab扩展
 */

@include m_tab(
    $name: test,
    $width: 2rem,
    $border-width: 1px,
    $border-color: #49f,
    $font-size: .12rem,
    $radius: .05rem,
    $on-bgcolor: #49f,
    $on-color: #fff
){
    margin: auto;
}

@include m_tab(
    $name: filter,
    $height: .4rem,
    $border-width: 0 0 1px 0,
    $item-border-height: .2rem,
    $item-border-color: map-get($base, border-color)
);

@include m_tab(
    $name: view,
    $font-size: .12rem
);